<html>
    <head>
        <meta charset="UTF-8"/>
        <title></title>
        <style>
            .padding-10{
                padding: 10px
            }
            .cadre{
                border: solid 2px #003eff;
            }
            .text-justify{
                text-align:justify;
            }
        </style>
    </head>
    <body>
        <div class="padding-10 cadre">
            <h4>Nom:{{nom}}</h4>
            <h4>Contact: {{contact}}</h4>
            <h4>Email:{{email}}</h4>
        </div>
        <div class="padding-10">
            <p class="text-justify">{{sms}}</p>
        </div>
            
    </body>
</html>
